{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El blog de Churi</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Blog List</h1>
    <ul>
        {% for blog in blogs %}
            <li>{{ blog.title }}</li>
            <p>{{ blog.subtitle }}</p>
        <a href="{% url 'blog_detail' blog.id %}">Leer más</a>
    {% empty %}
        <p>No hay páginas aún.</p>
    {% endfor %}
{% endblock %}
        {% endfor %}
    </ul>
</body>
</html>
